@import url(font/Josefin_Sans.zip);
body{
    overflow: hidden;

    display:flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;


    place-items: center;
    transition: 0.8s;

}

@keyframes animate {
    100%{
        filter: hue-rotate(360deg);
    }
}

header{
    background: linear-gradient(135deg,#432ca0, #885b0e,#ff00e0);
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    color: #fff;
    padding: 10px;
    font-family: 'Montserrat', sans-serif;


}
span{
    content: "";
    background: linear-gradient(135deg,#29186d, #ffc35c,#ff00e0);
    z-index: 10;
    position: fixed;
    width: 100%;
    height: 5px;
    top: 100px;
    left: 0;
    animation: animate 1.5s linear infinite;
}
.main{
    overflow: hidden;
    background: rgb(28, 70, 112);
    width: 100%;;
    padding: 10px;
    border-radius: 10px;
    height: 100vh;
    position: relative;
    color: #fff;

    transition: 0.4s;
    z-index: 10;

    margin-left: 250%;
    display: flex;
    flex-direction: column;
    align-items: center;

    border-radius: 5px;
}
.main:hover{
    filter: drop-shadow(16px 16px 10px black);

}
.title-project{
    position: relative;

    margin-bottom: 30px;
    width: 100%;

}
.title-project a{
    color: #fff;
    text-decoration: none;
    background: linear-gradient(135deg,#29186d, #ffc35c,#ff00e0);
    padding: 5px;
    border-radius: 5px;
    filter: drop-shadow(5px 5px 10px rgb(0, 0, 0));
    font-family: 'Montserrat', sans-serif;
}

.title-project p{
    border-bottom: 1px solid silver;
    padding-bottom: 20px;
    padding-top: 5px;
    font-size: 18px;
}

.game-main{
    text-align: center;
    background: rgb(100, 124, 170);
    padding: 5px;
    border-radius: 15px;
    font-size: 20px;
    width: 50%;
}
.instument-game form{
    display: flex;
    flex-direction: column;
    position: relative;
}
.instument-game form input{
    border: 1px solid silver;
    font-size: 20px;
    margin: 0px 10px;
    margin-top: 10px;
    border-radius: 10px;

}

.instument-game form .send{
    height: 100px;
    color: #fffffffd;
    border: 1px solid #fff;
    margin-top: 10px;
    padding: 10px;
    border-radius: 50px;
    display: flex;
    position: relative;
    overflow: hidden;
    transition: 0.4s;
    z-index: 20;
    justify-content: center;
    width: 100%;
    align-items: center;
    font-size: 30px;
    
}
.instument-game form .send::before{
    content: "";
    background: linear-gradient(135deg,#6d1849, #df0d0d,#ff00e0);
    width: 100%;
    height: 100px;

    
    position: absolute;
    left: 0;
    bottom: 0;
    height: 0%;
    z-index: -10;
    border-radius: 50% 50% 0 0;
    transition: 1s;
}

.instument-game form .send:hover::before{
    height: 200%;
}

.stat p{
    background: #283c48;
    padding: 10px;
    transition: 0.4s;
    filter: drop-shadow(16px 16px 50px black);
}

.option{
    font-size: 20px;
    margin: 0px 10px;
    margin-top: 10px;
    border: 1px solid silver;
    border-radius: 10px;
    overflow-y: scroll;
}

.reset{

    width: 100px;
    color: #000000fd;
    border: 1px solid #fff;
    padding: 5px;
    border-radius: 10px;
    font-size: 20px;
    display: block;
    position: relative;
    overflow: hidden;
    transition: 0.4s;
    z-index: 20;
}

.reset::before{
    content: "";
    background: linear-gradient(135deg,#6d1818, #fc5cff,#d0ff00);
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 0%;
    z-index: -10;
    border-radius: 50% 50% 0 0;
    transition: 0.8s;
    animation: animate 1.5s linear infinite;
}

.reset:hover::before{
    height: 200%;
}



.btnStartGame{
    position: fixed;
    padding: 10px;
    font-size: 20px;
    border: 1px solid silver;
    border-radius: 10px;
    background: rgb(255, 255, 255);

    transition: 0.8s;
    top: 50%;
    left: 10cap;
}
.btnStartGame:hover{
    background: silver;
    filter: drop-shadow(0px 0px 5px red);
}


.exit{
    background: none;
    border: 1px solid silver;
    color: #fff;
    width: 30px;
    height: 30px;

    cursor: pointer;
}
.panel-exit{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.infGame{
    color: #ffffff;
    background: #000000;
}
.result-div{
    padding: 15px;
    background: rgb(43, 106, 168);
    color: #fff;
    font-size: 30px;
    position: fixed;
    width: 100%;
    height: 100vh;

    transition: 0.8s;
    margin-top: 200vh;

}
.result-title{
    padding: 10px;
}
.result-div h2 {
    border-bottom: 1px solid silver;
    padding-bottom: 20px;
    text-align: center;
}

.exit-result{
    width: 90%;
    margin-left: 5%;
    font-size: 20px;
    background: none;
    border: 1px solid silver;
    color: #fff;

    transition: 0.3s;
}
.exit-result:hover{
    background: #fff;
    color: #000;
}
@media (max-width: 950px)  {
    .infGame{
        display: none;
    }
    *{
        overflow: hidden;
    }
    body{
        background: #000;
        display: flex;
        overflow: hidden;
        justify-content: start;
        height: 100vh;

    }
    header{
        display: none;
        flex-direction: row;
        justify-content: center;
        position: fixed;
        z-index: 10;
        width: 100%;
        font-size: 14px;
        height: 90px;
        top: 0;
        left: 0;
        transition: 0.6s;
    }

    .main{
        height: 100vh;
        width: 100%;
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .title-project{
        padding: 10px;
    }

    .game-main{
        width: 90%;
        margin-bottom: 50%;
    }
}



@keyframes bombFinish {
    0%{
        background: linear-gradient(135deg,#6d1818, #ff0000,#d0ff00);
        filter: blur(20px) hue-rotate(230deg) contrast(100%);
    }
    50%{
        background: linear-gradient(235deg,#6d1818, #ff0000,#d0ff00);
        filter: blur(5px) hue-rotate(360deg) contrast(600%);
    }
    60%{
        background: linear-gradient(235deg,#6d1818, #ff0000,#d0ff00);
        filter: blur(5px) hue-rotate(360deg) contrast(700%) invert();
    }
    70%{
        background: linear-gradient(185deg,#6d1818, #ff0000,#d0ff00);
        filter: blur(10px) hue-rotate(360deg) contrast(1000%);

    }
    100%{
        filter: blur(0px) hue-rotate(0deg) contrast(100%);
        background: linear-gradient(135deg,rgb(43, 106, 168), rgb(43, 106, 168),rgb(43, 106, 168));
    }
}